/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css
	
*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Arimo", arial, verdana, sans-serif;
font-weight:normal;
}

thead th,
tbody th{
font-family: "Arimo", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Arimo", arial, verdana, sans-serif;
}

.menu{
font-family: "Arimo", arial, verdana, sans-serif;
}

blockquote{
font-family: "Arimo", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0 0 0 0;
color:#000;
background:#fff;
font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#wrap{
width:100%;
background:#fff;
margin:30px auto 30px auto;
padding:0 2%;
border:1px solid #ccc;
}


#footer{
text-align:center;
padding:20px;
margin:0;
border-top:1px solid #ddd;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
background:#fff;
}

	#link-top{
	display:none;
	}
	
/* NAV BAR*/
.navbar{
position:fixed;
top:0;
left:0;
width: 100%;
background:#000;
color:#fff;
z-index:1000;
}

	.navbar #logo{
	position:absolute;
	top:0;
	right:0;
	padding:0.5em 1em;
	font-size: 1.7em;
	color:#efefef;
	text-decoration:none;
	}
	
	.navbar span{
	color:#86dc00;
	}
	
	
	.navbar ul{
	display:inline-block;
	margin:0;
	padding:0;
	}
	
		.navbar li{
		margin:0;
		padding:0;
		list-style-type:0;
		display:inline-block;
		}
		
		.navbar li a{
		display:inline-block;
		color:#efefef;
		padding:1em 1.3em;
		text-decoration:none;
		text-transform: uppercase;
		line-height:100%;
		font-size: 1.2em;
		}
		
.callout{
background:#4598ef;/*#86dc00;*/
padding:3em 0;
color:#fff;
box-shadow:inset 0px 0px 10px rgba(0,0,0,0.2);
text-align: center;
text-shadow:0px 1px 3px rgba(0,0,0,0.2);
display:block;
}
	.callout + div.grid{margin-top:50px;}
	 a.callout{cursor:pointer;}
	 .callout i.icon-4x{font-size:6em;}
	 .callout h4{margin-bottom:30px;}
	 .callout-top{margin:50px 0 0 0;}
	 .callout p{margin-bottom:0;}
	 .callout .button{margin-top:10px;}
	 .callout.green{background:#19ad0b;/*#86dc00;*/}
	 
#mc_embed_signup{
padding:30px 0;
}

#ui-preview{
border:5px solid #ddd;
margin:30px 0;
display:block;
}
.top_nav {
    text-align: right;
    float: right;
    margin-top: -70px;
    width: 100px;
}
.menu {
    clear: both;
    height: 40px;
}
.covershotlogo {
    background: url("/sites/all/themes/covershot/images/flashportfolios.png") no-repeat scroll 0 0 transparent;
    text-indent: -50000px;
}

#home_links_wrapper li a h4 {
    height: 160px;
    left: 0;
    opacity: 0;
    position: absolute;
    text-indent: -10000px;
    top: 0;
    transition: opacity 0.5s ease-in 0s;
    width: 100%;
}
.ourpackages {
    background-image: url("/sites/all/themes/covershot/images/link_ourpackages_off.png");
    float: left;
    height: 160px;
    list-style: none outside none;
    margin-right:5px;
    width: 203px;
}
.ourphotogallery {
    background-image: url("/sites/all/themes/covershot/images/link_ourphotogallery_off.png");
    background-repeat: no-repeat;
    float: left;
    height: 160px;
    list-style: none outside none;
    margin-right: 5px;
    width: 399px;
}

.bookwithrus {
    background-image: url("/sites/all/themes/covershot/images/link_bookus_off.png");
    float: left;
    height: 160px;
    list-style: none outside none;;
    width: 348px;
}
ul#home_links_wrapper {
    display: block;
    margin: 0;
    padding: 0;
}
#home_links_wrapper a:link, #home_links_wrapper a:visited{
	text-decoration:none;
	color:#eee;
}
#home_links_wrapper h3 {
    font-size: 20px;
    margin-top: 129px;
    text-align: center;
    top: 5px;
    background: none repeat scroll 0 0 #333;
}
#gallery_images_list li {
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 116px;
    margin: 0 10px 10px 0;
    padding: 0;
    width: 116px;
}
#main_content li {
    color: #666666;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.8;
    list-style:none;
}
.video_popup {
    text-align: right;
}
#main_content p {
    color: #666666;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 15px;
}

.bx-wrapper .bx-pager {
	display:none;
}
.bx-wrapper {
    margin: 0 0 10px;
    padding: 0;
    position: relative;
}
#footer {
    color: #666;
    font-size: 9px;
    text-transform: capitalize;
}
#footer a {
    color: #666666;
    text-decoration: none;
}

.video-player { margin: 20px; width: 409px; }
    .video-controls { 
      background: #dedede; 
      height: 30px;
      margin: -4px 0 0;
      position: relative;
      width: 409px;
    }
    .status {   height: 43px;
    left: 30px;
    position: absolute;
    top: 5px;
    width: 100%;}
    .bar { background: #a4a4a4; height: 10px; position: relative; top: 5px; }
    .loaded { background: #bbb; height: 10px; left: 0; position: absolute; top: 0; }
    .indicator { background: #212121; display: block; height: 10px; left: 0; position: absolute; top: 0; width: 20px; }
    .play-pause, .volume { 
      background: url('/sites/all/themes/covershot/images/btn-controls.png') no-repeat ;
      display: block;
      height: 20px;
      overflow: hidden;
      position: absolute;
      text-indent: -9999px;
      top: 5px;
      width: 20px;
    }
    .play-pause { left: 5px; }
    .playing { background-position: 0 -20px; }
    .volume { background-position: 0 -60px; right: 5px; }
    .muted { background-position: 0 -40px; }
    .view-youtube { 
      color: #000;
      display: block; 
      float: right; 
      font-size: 9px; 
      line-height: 30px;
      padding: 0 5px 0 0;
      text-decoration: none;
      text-transform: uppercase;
      display: none;
      
    }
    fieldset {
    float: left;
    padding:1px 12px 15px;
}
label {
    font-weight: normal;
}

.homepagetext{
	 background: none repeat scroll 0 0 #000000;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFFFFF;
    float: left;
    margin-left: 5px;
    margin-top: -400px;
    opacity: 0.71;
    padding: 15px;
    position: relative;
    width: 400px;
	
}
.homepagetext > h1 {
  color: #EF0095;
    font-size: 25px;
    font-weight: bold;
}

.homepagetext > h2 {
    font-size: 18px;
}
.homepagetext > h3 {
    font-size: 13px;
}
.homepagetext > h4 {
    font-size: 12px;
}
.homepagetext li {
    line-height: 90%;
    list-style: none outside none;
}

.form-item.form-type-textfield.form-item-mail > label {
	/*
    clear: both;
    float: left;
    width: 500px; */
}
.form-item.form-type-textarea.form-item-message {
    clear: both;
    float: left;
}
.form-item.form-type-textfield.form-item-subject {
    clear: both;
    float: left;
}
.form-actions.form-wrapper {
    clear: both;
    float: left;
}
.form-item.form-type-textfield.form-item-mail {
    float: left;
    clear: both;
}
.form-item.form-type-radios.form-item-booking-day {
   /*
    float: left;
    margin-top: 20px;
    padding-right: 50px;
    */
}
.form-item.form-type-select.form-item-cid {
    display: none;
}
.form-item.form-type-radios.form-item-view-day {
  /*
    clear: both;
    float: left;
    margin-top: 20px;
    padding-right: 50px;
    */
}
.googlemapholder {
    float: left;
    padding: 20px;
}
.contactdetailsholder {
    float: left;
    padding: 5px;
}
p.contactdetails {
    line-height: 100%;
}